p {
	color: slategray;
	text-indent: 5px;
}

.thumbnail {
	margin: 5px;
	padding: 3px;
}

.clicky {
	border: solid 5px black;
	background: thistle;
}

.noclicky {
	border: solid 1px green;
	background: honeydew;
}

img {
	width: 250px;
	height: 200px;
}

.special {
	font-size: 2em;
	color: black;
	text-indent: 10px;
}
